<!DOCTYPE html>
<html>
<head>
<title>Blogly Edit Post</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>
<h1>Edit Post</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class = 'error'>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action = "/posts/{{post.id}}/edit", method = "POST">
    
        <span>Post Title:</span> <br>
            <input name = "title" type = "text" value = {{post.title}}></input><br>
        <span>Post Content:</span> <br>
            <input name = 'content' type = 'text' value = {{post.content}}> <br> <br>
        

        {% for tag in tags %}
        <input type="checkbox" name={{tag.id}}>
        <label for={{tag.id}}> {{tag.name}}</label><br>

        {% endfor %}
        <input id = 'FormSubmit' type = 'submit' value = 'submit'>
    </form>




</body>

</html>