<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<img id = "pic" src= {{userData.image_url}} width = '180' height = '180'>

<span id = "name">{{userData.first_name}} {{userData.last_name}}</span>

<form  action="/users/{{id}}/edit">
    <input id = "edit" type = "submit"  value = "Edit"></input>
</form>

<form  action="/users/{{id}}/delete", method = 'POST'>
    <input id = "delete" type = "submit"  value = "Delete"></input>
</form>


<ul id = 'postList'>

    {% if userPosts %}
        <h1>Posts:</h1>
    {% endif %}


{% for post in userPosts %}
    <li id = "listItem">
        <a  href = '/posts/{{post.id}}'>{{post.title}}</a>
    </li>
{% endfor %}

    <form  action="/users/{{id}}/posts/new">
        <input id = 'addPost' type="submit" value="Add Post">
    </form>

</ul>


</body>

</html>